<div class="container">
<div class="row"> 
  <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12"> 
          <div class="form-group" id="search_fields">
              <div class="input-group">

                  <input class="form-control search_box" id="search" [(ngModel)]="searchText"  name="search" placeholder="Search Country" style="color:#000000;" type="text">
                  <span class="input-group-addon search_icon"><span class="glyphicon glyphicon-search"></span></span>
              </div>
          </div> 

  </div>
  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 pull-right">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
          <a routerLink="/addcountry" class="btn btn-danger">Add Country<span class="glyphicon glyphicon-plus" style="margin-left: 8px;"></span></a>
          
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
          </div>
  </div>  
   
</div>  
<div class="row"> 
    <div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 " *ngFor="let contact of contacts  |filter:searchText" >
        <div class="panel panel-primary"  >
                  
          <div class="" style="background-color: lightgrey;padding:3%">
    
    <a type="submit"  class="pull-left"  (click)="deleteTask(contact._id)" ><i class="glyphicon glyphicon-trash" 
        style="font-size:20px;color:#676a6c"></i></a>
              <a type="submit" class="pull-right" [routerLink]="['/editcountry',contact._id]" ><i class="glyphicon glyphicon-pencil"
                 style="font-size:20px;color:#676a6c"></i></a>
            <br> <h4>{{contact.country_name}} </h4> 
          </div>  
              <div class="" style="text-align: center">
                    
                    <img src="{{contact.a12}}" style="margin-top:10px;" width="60%">
                  
              </div>    

              
                   
              <div class="" style="margin-top:22px" >
           
                  <ul class="list-group  ">
                      <li class="list-group-item fist-item">
                          <span class="pull-right"> {{contact.currencysign}} </span>
                          Currency Sign
                      </li>
                      <li class="list-group-item">
                          <span class="pull-right"> {{contact. country_code }} </span>
                          Country Phone Code
                      </li>
                      <li class="list-group-item">
                          <span class="pull-right"> {{contact. currencycode }} </span>
                          Currency Code
                      </li>
                     
                      <li class="list-group-item">
                          <span class="pull-right"> 
                              <label class="switch">
                                  <input type="checkbox" [(ngModel)]="contact.a13" checked>
                                  <span class="slider round"></span>
                                </label></span>
                          Business In Country
                      </li>   <li class="list-group-item">
                          <span class="pull-right"> 
                              <label class="switch">
                                  <input type="checkbox" [(ngModel)]="contact.a16"  checked>
                                  <span class="slider round"></span>
                                </label></span>
                          
                      Referral For User
                      </li>   <li class="list-group-item">
                          <span class="pull-right"> 
                              <label class="switch">
                                  <input type="checkbox" [(ngModel)]="contact.a17"  checked>
                                  <span class="slider round"></span>
                                </label></span>
                                Referral For Store
                      </li>   <li class="list-group-item">
                          <span class="pull-right"> 
                              <label class="switch">
                                  <input type="checkbox" [(ngModel)]="contact.a18"  checked>
                                  <span class="slider round"></span>
                                </label></span>
                                Referral For Provider
                      </li> 
                  </ul>

 </div>
</div>
</div>
</div>
</div>
</div> 
